/* River Preset */
:root {
    --var-background: url(https://i.imgur.com/sXwpHUW.png);
    --var-accent: #ab5f9a;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #ab5f9a;
    --var-popout-color: rgb(141 74 126);

    /* Chat */
    --var-chat-bubbles-background: rgb(89 32 76);
    --var-chat-bubbles-edge-background: rgb(89 32 76);
    --var-chat-mentioned: rgb(141 74 126);
}
