/* River Preset */
:root {
    --var-background: url(https://i.imgur.com/sXwpHUW.png);
    --var-accent: #ffd1dc;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #ffb8c9;
    --var-popout-color: rgb(255 184 201);

    /* Chat */
    --var-chat-bubbles-background: rgb(243 140 175);
    --var-chat-bubbles-edge-background: rgb(255 184 201);
    --var-chat-mentioned: rgb(255 158 181);
}
